/* color palette from <https://github.com/vuejs/theme> */
:root {
  --cp: hsla(160, 100%, 37%, 1);
  --cd: rgba(147, 4, 4, 0.453);

  --dp: 2px;

  --miw: 250px;
  /* background */
  --cb: #181818;
  --cb-m: #282828;
  --cb-s: #484848;
  --cb-t: #141313cd;
  /* border */
  --cbo: rgba(84, 84, 84, 0.48);
  --rbo: 10px;
  /* text */
  --ct: rgba(235, 235, 235, 0.64);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--ct);
  background: var(--cb);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
