@import "./base.css";

#control-panel {
  display: flex;
  flex-direction: row;
  column-gap: var(--dg);
  margin: 0 auto;
  width: 1000px;
}
#toasts-list {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 999;
}

.header {
  text-align: center;
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
}

.btn {
  background-color: hsla(160, 100%, 37%, 0.2);
  border-color: transparent;
  border-radius: var(--rbo);
  min-width: 90px;
  min-height: 40px;
  color: black;
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

input,
select {
  min-height: 40px;
  font-size: 18px;
  background-color: var(--cb);
  color: var(--ct);
  outline: none;
  border: 1px solid var(--cbo);
  border-radius: var(--rbo);
}
.bordered {
  border: solid 2px var(--cbo);
  border-radius: var(--rbo);
}
.container {
  display: flex;
  flex-direction: column;
  gap: var(--dg);
  height: 100%;
}
.field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--rbo);
}
.field-container {
  text-align: center;
}
.field-container .input-with-slot {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--cbo);
  border-radius: var(--rbo);
}
.input-with-slot input {
  width: 100%;
  border: none;
}
.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--dg);
}
.required {
  background-color: hsla(3, 100%, 37%, 0.2);
  color: black;
}
.menu-panel {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
.menu-items {
  width: var(--miw);
  padding: 2px;
}
.menu-items h2 {
  transition: 0.5s;
  cursor: pointer;
  border-radius: var(--rbo);
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}
.menu-items h2:hover {
  transition: background-color 0.5s;
  background-color: var(--cb-m);
}

.menu-item-content {
  position: relative;
  width: calc(100% - var(--miw));
}

.menu-selected {
  background-color: var(--cb-s);
}
.controls-holder {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: var(--dg);
}
.controls-holder button {
  width: 100%;
}

.hook-header {
  flex: 1 1 auto;
  text-align: start;
}
.hook-header {
  display: flex;
  flex-direction: row;
  gap: var(--dg);
  position: relative;
}
.hooks-list-view {
  max-height: 80vh;
  overflow-y: auto;
  margin-top: var(--dg);
}
.hooks-list-view .container {
  border-top: 1px solid var(--cbo);
}
.hook-view-controls {
  display: flex;
  flex-direction: row-reverse;
  column-gap: var(--dg);
  align-items: center;
}

.toast {
  position: relative;
  border: 1px solid var(--cbo);
  border-radius: var(--rbo);
  width: 300px;
  min-height: 50px;
  padding: 10px 5px 5px 5px;
  z-index: 1000;
  transition: 0.4s;
}
.toast h2,
h3 {
  text-align: center;
}
.br {
  border-right: 2px solid var(--cbo);
}
