/* color palette from <https://github.com/vuejs/theme> */
:root {
  --nc0:#2e3440;
  --nc1:#3b4252;
  --nc2:#434c5e;
  --nc3:#4c566a;
  --nc9:#81a1c1;
  --nc11:#bf616a;
  --nc12:#d08770;
  --nc14:#a3be8c;
  
  /* background */
  --cb: var(--nc0);
  --cb-m: var(--nc1);
  --cb-s: var(--nc2);
  --cb-t: var(--nc3);
  /* border */
  --cbo: var(--nc3);
  --rbo: 0.25em;
  /* text */
  --ct: rgb(236, 239, 244);

  --dg: 2px;
  --miw: 250px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--ct);
  background: var(--cb);
  line-height: 1.6;
  font-family: Inter;
  font-size: 15px;
}

#control-panel {
  display: flex;
  flex-direction: row;
  column-gap: var(--dg);
  margin: 0 auto;
  width: 1000px;
  opacity: 0;
  transition: 0.5s;
}

#toasts-list {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 999;
}

dialog {
  color: inherit;
  padding: 0;
  margin: auto;
  background-color: var(--cb);
  border: 1px solid var(--cbo);
  border-radius: var(--rbo);
}

dialog > div {
  width: 100%;
  height: 100%;
  padding: var(--dg);
}

::backdrop {
  opacity: 0.7;
  background-color: var(--cb-m);
}

.header {
  text-align: center;
  text-decoration: none;
}

.btn {
  background-color: #88c0d0;
  border-color: transparent;
  border-radius: var(--rbo);
  color: rgb(59, 66, 82);
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

input,
select {
  font-size: 18px;
  background-color: var(--cb);
  color: var(--ct);
  outline: none;
  border: 1px solid var(--cbo);
  border-radius: var(--rbo);
}

.bordered {
  border: solid 2px var(--cbo);
  border-radius: var(--rbo);
}
.container {
  display: flex;
  flex-direction: column;
  gap: var(--dg);
  height: 100%;
}
.field-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--rbo);
}
.field-container {
  text-align: center;
}
.field-container .input-with-slot {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--cbo);
  border-radius: var(--rbo);
}
.input-with-slot input {
  width: 100%;
  border: none;
}
.input-checkbox input[type='checkbox'] { 
  height: 15px;
  width: 15px;
}
.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--dg);
}
.required {
  background-color: hsla(3, 100%, 37%, 0.2);
  color: black;
}
.menu-panel {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
.menu-items {
  width: var(--miw);
  padding: 2px;
}
.menu-items h2 {
  transition: 0.5s;
  cursor: pointer;
  border-radius: var(--rbo);
  padding: 5px;
  text-align: center;
  word-wrap: break-word;
}
.menu-items h2:hover {
  transition: 0.5s;
  background-color: var(--cb-m);
}

.menu-item-content {
  position: relative;
  width: calc(100% - var(--miw));
}

.menu-selected {
  background-color: var(--cb-s);
}
.controls-holder {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: var(--dg);
}
.controls-holder button {
  width: 100%;
}

.hook-header {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: var(--dg);
  position: relative;
}
.hooks-list-view {
  max-height: 80vh;
  overflow-y: auto;
  margin-top: var(--dg);
}
.hooks-list-view .container {
  border-top: 1px solid var(--cbo);
}
.hook-view-controls {
  display: flex;
  flex-direction: row-reverse;
  column-gap: var(--dg);
  align-items: center;
}
.toast {
  position: relative;
  border: 1px;
  border-radius: var(--rbo);
  width: 300px;
  min-height: 50px;
  padding: 5px;
  z-index: 1000;
  text-align: center;
}
.br {
  border-right: 2px solid var(--cbo);
}
.action-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: var(--dg);
  align-items: center;
}